/* Display flex */
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
/* Justify content */
@mixin justify($var) {
    justify-content: $var;
}
