body {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 16px;

    h1 {
        font-size: 65px;
    }

    a,
    p {
        &.th-text {
            font-size: 20px;
        }
    }
}
